@{
    ViewBag.Title = "Contatti";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var context = new HttpContextWrapper(HttpContext.Current);
}

@{
    bool Inviato = false;
    if (ViewData["Inviato"] != null)
    {
        Inviato = (bool)ViewData["Inviato"];
    }

    bool Error = false;
    if (ViewData["Error"] != null)
    {
        Error = (bool)ViewData["Error"];
    }

    string Contatti = "Contatti";
    string Testo01 = "RD Industrial clocks srl";
    string Testo02 = "Orologerie per usi tecnici e scientifici";
    string Testo03 = @"<b>Sede operativa:</b><BR/>
                        Via Volta, 24, 20094 Corsico (MI) Italia<BR/><BR/>
                        <b>Sede legale:</b><BR/>
                        P.zza Insurrezione, 6, 24047 Treviglio (BG) Italia<BR/><BR/>
                        <b>Telefono:</b><BR/>+39 02 3652 3042<BR/><BR/>
                        <b>Cell. and whatsapp:</b><BR/>+39 331 741 0680<BR/><BR/>
                        <b>E-mail:</b><BR/><a href='mailto:info@RDICsrl.com'>info@RDICsrl.com</a><BR/><BR/>";

    if (Session["Culture"] == null)
    {
        string TmpCulture = "en-US";
        if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "it")
        {
            TmpCulture = "it-IT";
        }

        Session.Add("Culture", TmpCulture);
    }


    if (Session["Culture"] != null && ((string)Session["Culture"]).Equals("en-US"))
    {
        Contatti = "Contact us";
        Testo01 = "RD Industrial clocks srl";
        Testo02 = "Chart drive for technical and scientific uses";
        Testo03 = @"<b>Operational headquarters:</b><BR/>
                    Via Volta, 24, 20094 Corsico (MI) Italia<BR/><BR/>
                    <b>Legal headquarters:</b><BR/>
                    P.zza Insurrezione, 6, 24047 Treviglio (BG) Italia<BR/><BR/>
                    <b>Phone:</b><BR/>+39 02 3652 3042<BR/><BR/>
                    <b>Mobile and whatsapp:</b><BR/>+39 331 741 0680<BR/><BR/>
                    <b>E-mail:</b><BR/><a href='mailto:info@RDICsrl.com'>info@RDICsrl.com</a><BR/><BR/>";
    }
}

@section Content{

    @*todo tutto ancora da localizzare*@
    <link rel="stylesheet" type="text/css" href="~/Content/contact.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/contact_responsive.css" />

    <div class="container-fluid">
        <div class="row inside_bkg"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="title">@Contatti</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row title_separator"></div>
    </div>
    @*todo gestire obbligatorietà, mettere controlo mail, mettere no robot, e fare invio*@
    <div class="container">
        <div class="row">
            <div class="col-10 description">
                <h2>@Html.Raw(Testo01)</h2>
                <h3>@Html.Raw(Testo02)</h3>
                <p>@Html.Raw(Testo03)</p>
                <a href='https://instagram.com/rdindustrialclocks?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==' target='_blank'>
                    <img src='~/img/instragram.png' alt="" RDIC instagram"">
                </a>
            </div>

        </div>
    </div>
    @Html.Partial("GoogleMap")
}